.product-img-wrapper {
    max-width: 370px;
    overflow: hidden;

    .product-img {
        max-height: 370px;
        transition: .5s all ease-in-out;

        &:hover {
            transition: .5s all ease-in-out;
            transform: scale(1.1);
        }
    }
}

.price {
    //padding: 5px 10px;
    //background-color: rgba(255, 0, 0, 0.2);
    //border-radius: 4px;
    //cursor: pointer;
    text-align: left;
}


.product-amount {
    display: flex;

    span {
        width: 40px;
        height: 40px;
        margin: 0 5px;
        border-radius: 8px;
        border: 2px solid $light-border;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 2;
        transition: .3s all ease-in-out;

        &:hover {
            transition: .3s all ease-in-out;
            border-color: $dark-border;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    #number {
        max-width: 100px;
        height: 42px;
        text-align: center;
        font-weight: 600;
        border: 2px solid $dark-border;
        border-color: $dark-border;
        border-radius: 8px;

        &:focus {
            border-color: $dark-border;
        }

    }
}


.product-bar {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}
