.section-container {
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
}


.cat-max-h-600 {
    img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
        object-position: top;
    }
}


.breadcrumb {
    .breadcrumb-item {
        a {
            font-size: 14px;
        }
    }
}

//theme

.text-theme {
    color: $theme;
}

.bg-theme {
    background-color: $theme;
}

.border-theme {
    border-color: $theme !important;
}

//for footer
a {
    &.text-theme {
        color: $theme;
        transition: all .5s ease-in-out;

        &:hover {
            transition: all .5s ease-in-out;
            color: $black;
        }
    }
}

.btn-theme {
    background-color: $theme;
    font-weight: 600;
    transition: .5s all ease-in-out;
    color: $white;

    &:hover {
        box-shadow: 0 50px rgb(0 0 0 / 20%) inset;
        //background-color: $theme-dark;
        transition: .5s all ease-in-out;
        color: $white;
    }
}

.btn-secondary {
    &:hover {
        transition: .5s all ease-in-out;
        box-shadow: 0 50px rgb(0 0 0 / 20%) inset;
    }
}

.btn-success {
    &:hover {
        transition: .5s all ease-in-out;
        box-shadow: 0 50px rgb(0 0 0 / 20%) inset;
    }
}


.btn-outline-theme {
    background-color: transparent;
    fill: none;
    box-shadow: none;
    border: 2px solid $theme;
    font-weight: 600;
    transition: .5s all ease-in-out;

    &:hover {
        transition: .5s all ease-in-out;
        background-color: $theme;
        box-shadow: 0 50px rgb(0 0 0 / 20%) inset;
        border-color: $theme;
        font-weight: 600;
        color: $white;
        fill: $theme;
    }
}


//font size
.fs-12 {
    font-size: 12px;
}


.section-header {
    padding-right: 12px;
    padding-left: 4px;
}
