.cart-btn {
    cursor: pointer;
    left: 95%;
    bottom: 100px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        position: absolute;
        left: -5px;
        top: -5px;
    }
}

.cart-nav {
    width: 350px;
    height: 100vh;
    background-color: $light-border;
    position: fixed;
    top: 0;
    right: -360px;
    bottom: 0;
    z-index: 1111;
    transition: .5s all ease-in-out;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);

    &.active {
        transition: .5s all ease-in-out;
        right: 0;
    }

    .cart-header {
        display: flex;
        justify-content: space-between;

        a {
            color: $white;
        }
    }

    .cart-body {
        width: 100%;
        max-height: 69vh;
        overflow: auto;
        height: 100%;
        background-color: $white;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        .cart-item {
            display: flex;
            padding: 15px 20px;
            position: relative;
            border-bottom: 1px solid $light-border;

            .cart-img {
                margin-right: 20px;

                img {
                    max-width: 60px;
                    height: 60px;
                    object-fit: cover;
                }
            }

            .product-details {
                .name {
                    font-weight: 700;
                    word-break: break-word;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 0 15px 12px 0;
                }

                .amount {
                    font-size: 14px;
                    font-weight: 700;
                    display: flex;
                }
            }

            .action {
                position: relative;

                .btn-trash {
                    position: absolute;
                    left: 25px;
                    top: 11px;
                    border-radius: 50%;
                    background-color: rgba(255, 0, 38, 0.1);
                    transition: .3s all ease-in-out;
                    width: 40px;
                    height: 40px;

                    &:hover {
                        transition: .3s all ease-in-out;
                        background-color: rgba(255, 0, 37, 0.3);
                    }
                }
            }
        }
    }


    .cart-footer {
        width: 350px;
        margin-top: 20px;
        position: fixed;
        bottom: 0;

        .promo-code {
            padding: 20px;

            .input-grp {
                display: flex;

                .form-control {
                    &:focus {
                        border-color: $theme;
                    }
                }
            }
        }

        .total {
            background-color: $white;
            display: flex;
            padding: 12px 10px;

            border-bottom: 1px solid $light-border;


            .title {
                flex: 1 1 50%;
                text-align: right;
                font-size: 16px;

            }

            .amount {
                flex: 1 1 50%;
                text-align: right;
                font-size: 16px;
            }
        }

        .checkout {
            .btn-theme {
                border-radius: 0;

                &:hover {
                    box-shadow: 0 80px rgb(0 0 0 / 20%) inset;
                }
            }
        }
    }

}
